<!DOCTYPE html>
<html lang="en">
<head>
<!--    <meta charset="UTF-8">-->
    <meta charset="ISO-8859-1">
    <title>Response To Postings</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
</head>
<body>
<nav class="navbar navbar-light bg-light">

    <div class="container">

        <div>
            <a class="navbar-brand me-0" th:href="@{/userHome}">
                <img
                        th:src="@{images/logo1.png}"
                        width="20"
                        height="20"
                        alt="logo"
                        loading="lazy"
                        style="margin-top: -1px;"
                />
            </a>
            <a class="navbar-brand align-items-left display-6" th:href="@{/userHome}" style="letter-spacing: .2rem;">kloubasaJobs</a>
        </div>



        <div class="row">
            <div class="col-md-6 gap-0">
                <a class="btn btn-primary" th:href="@{/userHome}" role="button" style="border-radius : 2px">Home</a>
            </div>
            <div class="col-md-6 gap-0">
                <form method="POST" th:action="@{/logout}">
                    <input type="submit" value="Logout" class="btn btn-warning" style="border-radius : 2px"/>
                </form>
            </div>
        </div>

    </div>
</nav>
<hr style="color: darkgoldenrod"  class="mt-0">

<div class="container mt-2">
    <hr style="color: darkgoldenrod">
    <h5 class="text-primary">Job Title:  <span th:each="job : ${actualJob}" th:text="${job.title}"></span>   </h5>
    <table class="container table mt-2" >
        <thead class="thead-light">
        <tr>
            <th>Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Resume</th>
<!--            <th>Actions</th>-->
        </tr>

        </thead>

        <tr th:each="jobresponse : ${jobResponses}">
            <td th:text="${jobresponse.responseDate}"></td>
            <td th:text="${jobresponse.firstName}"></td>
            <td th:text="${jobresponse.lastName}"></td>
            <td th:text="${jobresponse.emailAddress}"></td>
            <td>
                <a type="button" class="btn btn-outline-primary"
                        th:href="@{/userHome/myposting/respoonsetomyposting/download(id=${jobresponse.jobResponseId})}"
                   style="border-radius : 0">Download Resume</a>
            </td>
        </tr>

    </table>

</div>

</body>
</html>